 :root{
    --accent-color: #FED136;
    --main-color: #777;
    --add-color: #222;
    --add-white: #fff;
 }
 
 /* h2{
    color: red;
} */
/* *{
    color: green;
} */
/* a{
    text-decoration: none;
}
.list{
    list-style: none;
    font-size: 20px;
}
.list-header{
    color: green;
}
/* #hero{
    color: gray;
} */
/* a[href*="google"] {
    color: orange;
}
h2, h3, ul{
    margin: 0;
}
header li{
    color: yellow;
}
.hero ~ p {
    background-color: gray;
} */ 

h2, h3{
    color: var(--accent-color);
}
.nav{
    color: rgb(13, 224, 183);
}
header{
    background-color: rgba(29, 2, 102, 0.7);
}
.list-hero > li{
    color: #5CEE60;
}